* {
  box-sizing: border-box;
}

:root {
  --Green: hsl(75, 94%, 57%);

  --White: hsl(0, 0%, 100%);

  --Grey-700: hsl(0, 0%, 20%);
  --Grey-800: hsl(0, 0%, 12%);
  --Grey-900: hsl(0, 0%, 8%);

  --ff-regular: "Inter", sans-serif;
  --fw-400: 400;
  --fw-600: 600;
  --fw-700: 700;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--ff-regular);
  font-size: 0.875rem;
  background-color: var(--Grey-900);
  color: var(--White);
  position: relative;
}

.container-flex {
  background-color: var(--Grey-800);
  display: flex;
  flex-flow: column;
  text-align: center;
  padding: 2em;
  border-radius: 10px;
}

.tiago-avatar {
  width: 7rem;
  border-radius: 50%;
}

h1 {
  margin-bottom: 0.5em;
}

.country-city {
  color: var(--Green);
  font-weight: var(--fw-700);
}
ul {
  padding: 0;
}

li a {
  display: block;
  text-decoration: none;
  color: var(--White);
  font-weight: var(--fw-600);
}

li {
  background-color: var(--Grey-700);
  list-style: none;
  padding: 1em;
  margin-bottom: 1em;
  border-radius: 10px;
}

li:hover {
  background-color: var(--Grey-900);
  cursor: pointer;
}

li:active {
  background-color: var(--White);
}
li a:active {
  color: var(--Grey-900);
  font-weight: var(--fw-600);
}

.attribution {
  font-size: 11px;
  text-align: center;
  position: fixed;
  bottom: 10px;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
